<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/Head') %>
  <link rel="stylesheet" href="/CSS/InboxPage.css" />
</head>

<body>
  <header><%- include('../partials/Header') %></header>
  <!--  <header><%- include('../partials/Notification') %></header>-->

  <div class="container">
    <%- include('../partials/Sidebar') %>
    <% if (data) { %>
    <div class="content">
      <h1 class="heading">
        <%= data.SUBJECT%>
      </h1>

      <p class="detail-body">
        <%= data.MESSAGE%>
      </p>

      <% if(data.FILE) { %>
      <button onclick="downloadFile()">Download file</button>
      <% } %>

    </div>
    <% }%>
  </div>

  <script>
    function downloadFile() {
      const emailId = "<%= data.ID %>";
      window.location.href = `/email-detail/download/${emailId}`; 
    }
  </script>
</body>

</html>